/*
Syntax error: File to import not found or unreadable: foundation/base.
              Load paths:
                /Users/zen/Dropbox/projects/geleyi/public/sass
                /Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets
                /Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sassy-math-1.2/stylesheets
                /Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/modular-scale-1.0.2/stylesheets
                /Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.8/scss
                Compass::SpriteImporter
        on line 2 of /Users/zen/Dropbox/projects/geleyi/public/sass/foundation-style/typography.scss

1: /Users/zen/Dropbox/projects/geleyi/public/sass/foundation-style/typography.scss

Backtrace:
/Users/zen/Dropbox/projects/geleyi/public/sass/foundation-style/typography.scss:2
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/import_node.rb:42:in `import'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:226:in `rescue in visit_import'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:231:in `visit_import'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:97:in `visit'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:106:in `block in visit_children'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:118:in `with_environment'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:105:in `visit_children'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:125:in `visit_root'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:97:in `visit'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/engine.rb:315:in `_render'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.3.0.alpha.1/lib/sass/engine.rb:262:in `render'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/stamp_pattern.rb:76:in `perform'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/bin/compass:19:in `load'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/bin/compass:19:in `<main>'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `eval'
/Users/zen/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: foundation/base.\A               Load paths:\A                 /Users/zen/Dropbox/projects/geleyi/public/sass\A                 /Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 /Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/sassy-math-1.2/stylesheets\A                 /Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/modular-scale-1.0.2/stylesheets\A                 /Users/zen/.rvm/gems/ruby-1.9.3-p194/gems/zurb-foundation-3.0.8/scss\A                 Compass::SpriteImporter\A         on line 2 of /Users/zen/Dropbox/projects/geleyi/public/sass/foundation-style/typography.scss\A \A 1: /Users/zen/Dropbox/projects/geleyi/public/sass/foundation-style/typography.scss"; }
