<h3>Sign-up for the Pre-launch VIP Access</h3>
<form name="subscription-form">
    <form>
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    <div class="small-8 columns">
                        {{view Em.TextField valueBinding="view.email"  placeholder="Your Email Address"}}
                    </div>
                    <div class="small-4 columns">
                        <a href="#" {{action submit target="view"}} class=" button postfix radius">Join</a>
                    </div>
                </div>
            </div>
        </div>

    </form>
</form>
