<div class="copy-body">
    <h2>Our Story</h2>
    <hr/>
    <p>Do you love African fashion? Do you love African-inspired designs? We do, too.</p>

    <p>Yes. African fashion is getting big. Beautiful designs are showcased in fashion shows and media around the world.
        But are those beautiful designs reaching people who love African fashion?</p>

    <p>Unfortunately, no.</p>

    <p>Fans of African fashion have no way of purchasing these stunning, stylish collections despite designers’
        marketing and promotion efforts. And existing e-commerce websites tend to be disconnected from the unique beauty
        of African-inspired fashion.</p>

    <p>Geleyi is a unique web-platform application crafted to showcase the beauty and joy of
        African-inspired designs. Geleyi aggregates designers to market and sell their collections directly to a wider
        clientele who love African fashions.</p>

    <p>Geleyi showcases the beauty of our designers' creations in a simple way, and bring you the most joyful shopping
        experience.<p>
    <p>Geleyi makes African fashion accessible to you.</p>
</div>