<br/>
<br/>
<br/><br/><br/>
<div class="row">
    <div class="large-9 large-centered columns">
        <hr />
        <h2>Inquiries?</h2>
        <h3>Email: <a href="mailto:happy@geleyi.com?subject=Re:Geleyi Inquiries">happy@geleyi.com</a></h3>
        <hr/>
    </div>
</div>