<div id="home-landing">
    <div class="row">
        <div class="large-12 large-centered columns">
            <div class="page-lead">
                <h1>Hello! Welcome to Geleyi</h1>
                <h2> <span class="g_highlight">African Fashion</span> Simple. Beautiful. Joyful.</h2>
            <h4>We are building an online marketplace for <span class="g_highlight">your own</span> African-inspired designs.</h4>
    </div>
            </div>
    </div>
    <div class="row page-sub">
        <div class="large-12 large-centered columns">
            <div id="subscribe-box">
                {{#if userSubscribed }}

                <h3>You're Awesome! <br/>One last step, login to {{ email }} and confirm your email.<h3>

                {{else}}
                    {{view Geleyi.userSubscribe }}
                {{/if}}

            </div>
        </div>
    </div>
</div>

