<h1>Hello! </h1>
<h2>Meet African Fashion. <span class="emphasize">Simple.</span><span class="emphasize"> Beautiful.</span><span class="emphasize"> Joyful.</span></h2>
<h3>We are online marketplace for your own African-inspired designs</h3>

<div id="subscribe-box">
{{#if userSubscribed }}
	<h3>Thank you! We will get in touch soon via {{ userEmail }}<h3>
{{else}}
	{{view Geleyi.userSubscribe }}
{{/if}}
</div>