<h2>Founders</h2>
<hr/>
<div class="copy-body">
    <div class="twelve columns">
        <div class="large-2 columns">
            <img src="build/images/headshots/dele.png">
        </div>

        <div class="large-10 columns">
            <p>
                <strong style="font-variant: small-caps">Dele Omotosho, Jr.</strong>, a native of Nigeria, is passionate
                about pre-colonial and contemporary African fashion and
                tailored designs (he even tailors his own clothing!). Dele is an experienced software engineer who
                crafts Geleyi
                platform from scratch with the cutting-edge technologies to ensure simple, beautiful, and joyful
                shopping
                experiences for you.
            </p>
        </div>

    </div>

    <div class="twelve columns">
        <div class="large-2 columns">
            <img src="build/images/headshots/maki.png">
        </div>
        <div class="large-10 columns">
            <p>
                <strong style="font-variant: small-caps">Maki Nakata</strong> believes in joyful and beautiful fashion
                designs that bring happiness to people. From a young age, she
                has been a style-obsessed clothes addict who loves browsing magazines, looking at beautiful photographs
                showcasing
                various colors and designs, and assembling outfits. Combining her professional background in strategy
                and finance in
                retail and consumer goods sectors with her love and passion for African-inspired designs, Maki drives
                Geleyi’s
                business development.
            </p>
        </div>
    </div>
</div>