// Global Foundation Settings
@import "settings";
// Comment out this import if you are customizing you imports below
//@import "foundation";
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing
@import "foundation/foundation-global";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/custom-forms";
@import "foundation/components/button-groups";
@import "foundation/components/dropdown-buttons";
@import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
@import "foundation/components/section";
// @import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
@import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
@import "styles";

/**
* Style nice signature gèlè image to the background
*/

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}

/**
* Setting the content Up
*/

div#container {
  background-color: #fff;
  position: relative;
  top: 10px;
  filter: alpha(opacity=90);
  opacity: 0.9;
  min-height: 100%;
  padding-bottom: 100px;

  hr {
    border-top: 1px dotted #000;
    height: 1px;
  }
}

div#main-content {
  overflow: auto;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.copy-body{
  p{
    font-size: 1.1em;
  }
}

.g_highlight{
  background-color: #6c191f;color:#fff;
  padding: 3px;
}

.header-logo {
  width: 300px;
  height: 300px;
  background: url('../images/logo.png') no-repeat top left;
  text-indent: -9999px;
  margin-top: 70px;
}

#home-landing {
  position: relative;
  top: 39px;

  h1 {
    font-size: 3.7em;
  }

    h2 {
      margin-top: -45px;
    }
  h4 {
    margin-top: -10px;
  }


}


#footer {
  background-color: #000;
  filter: alpha(opacity=90);
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: -50px;
  height: 50px;

  ul {

    li {
      list-style: none;
      display: inline-block;

      margin-right: 7px;
      &:after {
        content: (" |");
      }
      a {
        font-size: 1.4em;

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}
#subscribe-box {
    //border: 1px #000 dotted;
    //padding: 2px 7px;
  text-align: center;
  input {
    height: 45px;
    font-size: 20px;
    font-weight: bolder;
  }
  .button{
    height: 45px;
    font-size: 20px;
  }
}

/**
* hide the issue links
*/
div.issuuembed{
  span {
    display: none;
  }
}
